.app__container {
  width: 80vw;
  margin: 3rem auto;
  background-color: var(--color-negroIntenso);
  border-radius: 2rem;
  display: flex;
  position: relative;
}

@media (max-width: 1600px) {
  .app__container {
    width: 100vw;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 6rem;
  }
  .shape_1 {
    display: none;
  }
  .shape_2 {
    display: none;
  }
}

@media (max-width: 1400px) {
  .app__container {
    margin: 1rem auto;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .app__container {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .app__container {
    width: 100vw;
    margin: auto;
  }
}

.shape_1 {
  position: absolute;
  width: 40rem;
  top: 0;
  left: -15rem;
  z-index: -1;
  filter: blur(150px);
}

.shape_2 {
  content: "";
  position: absolute;
  width: 40rem;
  top: 15rem;
  right: -5rem;
  z-index: -1;
  filter: blur(150px);
  transform: rotate(90deg);
}
