.app__container {
  width: 80vw;
  margin: 3rem auto;
  /* padding: 2rem 0; */
  background-color: var(--color-negroIntenso);
  border-radius: 2rem;
  display: flex;
  position: relative;
}

@media (max-width: 1024px) {
  .app__container {
    width: 100vw;
  }
}

.shape_1 {
  position: absolute;
  width: 40rem;
  top: 0;
  left: -15rem;
  z-index: -1;
  filter: blur(150px);
}

.shape_2 {
  content: "";
  position: absolute;
  width: 40rem;
  top: 15rem;
  right: -5rem;
  z-index: -1;
  filter: blur(150px);
  transform: rotate(90deg);
}
