@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --color-negroIntenso: #090921;
  --color-azulMarino: #10102a;
  --color-azulMediaNoche: #263052;
  --color-azulMediaNoche-hover: #364474;
  --color-azulVivo: #342fa1;
  --color-purpuraIntenso: #6a20aa;
  --color-purpuraIntenso-hover: #912ee7;
  /* Text colours */
  --color-text-1: #dadada;
  --color-text-2: #c5c5c5;
  --color-text-3: #aaaaaa;
  --color-text-4: #8f8f8f;
  --color-text-5: #747474;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

/* Barra de desplazamiento */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

/* Pista de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: transparent; /* Color de fondo de la pista */
}

/* Pulgar de la barra de desplazamiento (la parte que puedes arrastrar) */
::-webkit-scrollbar-thumb {
  background: var(--color-purpuraIntenso); /* Color del pulgar */
  border-radius: 6px; /* Radio de los bordes del pulgar */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-purpuraIntenso-hover); /* Color del pulgar */
}

/* Puntales de la barra de desplazamiento (las esquinas donde se encuentra el pulgar y la pista) */
::-webkit-scrollbar-corner {
  background: #f1f1f1; /* Color de fondo de los puntales */
}
